<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLCON" connectionString="SERVER=192.168.1.3;USER ID=sa;PASSWORD=;DATABASE=MIS_OLL;CONNECTION RESET=FALSE"/>
		<add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\YourSpreadsheet.xls;Extended Properties=Excel 8.0"/>
		<add name="EXCELCON" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;"/>
	</connectionStrings>
</configuration>